body{
    background-color:white;
    background-size:cover;
    background-attachment : fixed;
    margin-right: auto;
    margin-left: auto;
    width: 1280px;
    position: relative;
    height: 720px;
}

#box{
    background-color:white;
    margin-right: auto;
    margin-left: auto;
    width: 1280px;
    height: 720px;

}

#box_back{
    background-image:url('../images/snow/無題.png');    
    background-size: 1280px 720px;
    background-repeat: no-repeat;
    background-attachment : fixed;
    background-position:center top;
    position: relative;
    top: 0;

}

#box_back:hover{
    cursor: pointer;
}

#box_over{
    background-color:rgba(255,255,255,0.5);
    margin-top: auto;
    margin-bottom: auto;
    width: 1280px;
    height: 720px;    
    display: block;
}
.hole{
    z-index: 10000;
    background:inherit;
    background-size: 1280px 720px;
    background-attachment : fixed;
    position:absolute;
    
}

.text_area{
    -webkit-user-select:none;
    -ms-user-select: none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-drag:none;
    -khtml-user-drag:none;
}
