<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Flosted Window </title>
        <!-- The below script Makes IE understand the new html5
                tags are there and applies our CSS to it -->
        <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="../css/reset.css" type="text/css" />
        <link rel="stylesheet" href="../css/room.css" type="text/css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    </head>
    <body>
        <iframe src="advent_fork.html" id="window" scrolling="no" frameborder="no"></iframe>
    </body>
    <div id="scroll">
        <div class="scbt" id=""></div>
        <div class="scbt" id="vertical"></div>
        <div class="scbt" id="side"></div>
        <div class="scbt triangle" id="top_triangle"></div>
        <div class="scbt triangle" id="bottom_triangle"></div>
        <div class="scbt triangle" id="left_triangle"></div>
        <div class="scbt triangle" id="right_triangle"></div>
    </div>
</html>
